/* fonts  */
body {
    font-family: 'Roboto', sans-serif;
}
/* /fonts  */


/* header e navbar  */
header {
    height: 4.375rem;
    background: #f8f9fa;
}

.main-container {
    height: calc(100vh - 4.375rem);
}

.mio-logo-small {
    width: 50px;
}

.mia-search > * {
    background-color: yellow;
}
/* /header e navbar  */